# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production builds
client/dist/
dist/

# Environment Variables & Secrets
.env
server/.env

# Local Uploads
server/uploads/*
!server/uploads/.gitkeep

# IDE and OS files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
